<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Adding page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add song:</h1>
	<div>
		<form th:object="${song}" th:action="@{saveSong}" action="#" method="post">
			<label for="name">Name </label> <input type="text" id="name"
				th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="length">Length </label> <input type="text" id="length"
				th:field="*{length}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="bpm">BPM - Beats per minute </label> <input type="text"
				th:field="*{bpm}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
				<label for="albumlist">Album</label>
			 <select id="albumlist" th:field="*{album}" class="form-control">
       			<option th:each="album : ${albums}" th:value="${album.album_id}" th:text="${album.name}"></option>
    		</select>
				
			<div style="clear: both; display: block; height: 10px;"></div>
			<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>