<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Music-Info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="table-dark">
	<div class="col-md-11">
		<h1>
			Music-Info: All <a href="/search" class="btn btn-info">Query
				Music Data</a> <a href="/artistList" class="btn btn-info">Artists</a> <a
				href="/albumList" class="btn btn-info">Albums</a> <a
				href="/songList" class="btn btn-info">Songs</a>
		</h1>
		<div sec:authorize="isAnonymous()">
			<h2>
				<a href="/login" class="btn btn-success">Login</a> (HINT: admin)
			</h2>
		</div>
		<div class="col-md-4" sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-warning" />
			</form>
		</div>
		<table class="table table-striped table-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Artists</th>
				<th scope="col">Formed In / Started</th>
				<th scope="col">Description</th>
				<th scope="col">Are they active? (true/false)</th>
				<th sec:authorize="hasAuthority('ADMIN')"><a href="/addArtist"
					class="btn btn-success">Add Artist</a></th>
			</tr>
			<tr th:each="artist : ${artists}">
				<td th:text="${artist.artist_id}"></td>
				<td th:text="${artist.name}"></td>
				<td th:text="${artist.year_formed}"></td>
				<td th:text="${artist.description}"></td>
				<td th:text="${artist.active}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a
					th:href="@{/deleteArtist/{id}(id=${artist.artist_id})}"
					class="btn btn-xs btn-danger">Delete Artist</a></td>
			</tr>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Albums</th>
				<th scope="col">Genre</th>
				<th scope="col">Release Year</th>
				<th scope="col">Length</th>
				<th scope="col">Artist</th>
				<th sec:authorize="hasAuthority('ADMIN')"><a href="/addAlbum"
					class="btn btn-success">Add Album</a></th>
			</tr>
			<tr th:each="album : ${albums}">
				<td th:text="${album.album_id}"></td>
				<td th:text="${album.name}"></td>
				<td th:text="${album.genre}"></td>
				<td th:text="${album.year}"></td>
				<td
					th:text="${#numbers.formatDecimal(album.length, 0, 'COMMA', 2, 'POINT')}"></td>
				<td th:text="${album.getArtist().getName()} ?: 'UNKNOWN'"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a
					th:href="@{/deleteAlbum/{id}(id=${album.album_id})}"
					class="btn btn-xs btn-danger">Delete Album</a></td>
			</tr>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Songs</th>
				<th scope="col">Length</th>
				<th scope="col">BPM</th>
				<th scope="col">Album</th>
				<th scope="col">Artist</th>
				<th sec:authorize="hasAuthority('ADMIN')"><a href="/addSong"
					class="btn btn-success">Add Song</a></th>
			</tr>
			<tr th:each="song : ${songs}">
				<td th:text="${song.song_id}"></td>
				<td th:text="${song.name}"></td>
				<td
					th:text="${#numbers.formatDecimal(song.length, 0, 'COMMA', 2, 'POINT')}"></td>
				<td th:text="${song.bpm}"></td>
				<td th:text="${song.getAlbum().getName()}"></td>
				<td th:text="${song.getArtist().getName()}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a
					th:href="@{/deleteSong/{id}(id=${song.song_id})}"
					class="btn btn-xs btn-danger">Delete Song</a></td>

			</tr>
		</table>
	</div>
</body>
</html>